#title{
    text-align: center;
}

#display{
    margin-top : 15px;
    width: 100%;
    height: 25px;
    background:limegreen;
    transition: background 100ms;

}
input{
    display: block;
    width: 100%;
}